body{
    background-color: rgb(129, 169, 202);
}
h1{
    text-align: center;
}
.card{

box-shadow:0 4px 8px 0 rgb(0, 0, 0);
    border-radius: 10%;
    width: 20%;
    height: 20%;
    background-color: rgb(240, 224, 224);
    margin:auto;
}
.container{
    padding: 2px 16px;
}
img{
    border-radius: 10%;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}